{{{ root_html_tag }}}

<head>
    {{{ headers }}}

    <script type='text/javascript'>
        var require = {
            baseUrl: '',
            paths: {
                {{{ application_id }}}: 'static/script',
                antie: 'tal/static/script'
            },
            priority: [],
            callback: function () {}
        };
    </script>

    {{> imports}}

    <script>
        var antie = {
            framework: {
                deviceConfiguration: {{{ device_configuration }}}
            }
        };
    </script>

</head>

<body>
{{{ extra_body }}}

<div id='static-loading-screen' class="splash-screen">
    <span class="helper"></span>
    <img src="static/img/starzplay_logo.jpg" alt="STARZ PLAY" height="300" width="900">
</div>

<div id="app" class="display-none"></div>

<script type='text/javascript'>
    require(['starz/appui/application'],
            function (Starz) {
                require.ready(function () {

                    var onReady = function () {
                        var staticLoadingScreen = document.getElementById('static-loading-screen');
                        setTimeout(function() {
                            staticLoadingScreen.parentNode.removeChild(staticLoadingScreen);
                        }, 1500);
                    };

                    new Starz(
                            document.getElementById('app'),
                            'static/style/',
                            'static/img/',
                            onReady
                    );
                });
            }
    );
</script>
</body>

</html>
